/*--------------------------------------------------------------
# main Section
--------------------------------------------------------------*/
.row {
  margin-bottom: 50px;
}

.hide {
  display: none;
  cursor: pointer;
}

.hide-design-icon {
  cursor: pointer;
}

#main .carousel,
#main .carousel-inner,
#main .carousel-item,
#main .carousel-item::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#main .carousel-item {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#main .carousel-container {
  align-items: center;
  bottom: 0;
  top: 82px;
  left: 50px;
  right: 50px;
  text-align: center;
}

#main h2 {
  color: #fff;
  margin: 0;
  font-size: 38px;
}

#main p {
  animation-delay: 0.4s;
  color: #fff;
  margin-top: 10px;
  font-size: 13px;
}

#main img {
  margin: 25px;
}

#about h3 {
  font-weight: bolder;
}

#about div {
  color: #111;
  text-align: center;
}

/* --------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
#services h3 {
  font-weight: bolder;
}

#services section {
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 12px;
  padding: 20px;
  color: white;
  text-align: center;
}

/* --------------------------------------------------------------
# What we do section
--------------------------------------------------------------*/
#wwd h3 {
  font-weight: bolder;
  margin-bottom: 20px;
}

#wwd div {
  color: #111;
  text-align: center;
}

#wwd img {
  height: 80px;
  width: 80px;
}

/* --------------------------------------------------------------
# Portfolio section
--------------------------------------------------------------*/
#portfolio p {
  font-weight: bolder;
}

#portfolio h3 {
  font-weight: bolder;
}

#portfolio div {
  color: #111;
  text-align: center;
}

#portfolio img {
  margin: 5px;
  height: 300px;
  width: 300px;
}

/* --------------------------------------------------------------
# Contact Us section
--------------------------------------------------------------*/
#contactUs h3 {
  font-weight: bolder;
}

#contactUs button {
  margin: 10px;
}

#contactUs section {
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 12px;
  padding: 20px;
  color: white;
  text-align: center;
}

input[type="text"],
[type="text"] {
  background: transparent;
  color: white;
}
